MAILTO=xaviermathew90@gmail.com
SHELL=/bin/bash
00 4 * * *  cd /home/ubuntu/virtual_env/lisbeth/bin/ && rm -rf .scrapy && source activate && source postactivate && python manage.py start_crawl --spider lisbeth.bethlehem_matrimonial.spider.AuthenticatedBMSpider > /tmp/crawl.log 2>&1
